section.contacts-full
  .container
    h2 Общество с ограниченной ответственностью «Продом»

    .row.contacts-full__row
      .contacts-full__col
        article.contacts-full__item
          .contacts-full__img-wr
            include ../../../static/images/contacts/icons/phone.svg
          .contacts-full__content
            h4 Телефоны компании
            ul
              li +375 (162) 20-92-28 — приемная руководителя
              li +375 (162) 20-93-14 — планово-технический отдел
              li +375 (162) 20-84-58  — юридический отдел
              li +375 (162) 20-92-29, 58-93-30, 58-91-96 — отдел снабжения
              li +375 (162) 20-93-04 — бухгалтерия
              li +375 (162) 50-69-78  — отдел продаж металлопроката
      .contacts-full__col
        article.contacts-full__item
          .contacts-full__img-wr
            include ../../../static/images/contacts/icons/mail.svg
          .contacts-full__content
            h4 Email
            ul
              li info@prodomstroy.by
        article.contacts-full__item
          .contacts-full__img-wr
            include ../../../static/images/contacts/icons/location.svg
          .contacts-full__content
            h4 Адрес
            ul
              li 224025, г. Брест, ул. Комсомольская, 23Б
      .contacts-full__col
        article.contacts-full__item
          .contacts-full__img-wr
            include ../../../static/images/contacts/icons/mobile.svg
          .contacts-full__content
            h4 Мобильные телефоны
            ul
              li +375 (29) 388-89-08 – отдел проектирования
              li +375 (29) 196-94-47 – отдел снабжения
              li +375 (29) 725-27-23 — производственный участок <br> (цех металлоконструкций)
              li +375 (29) 849-75-75 — долевое строительство <br> (офис продаж)
              li +375 (29) 764-41-91 — отдел продаж металлопроката
      .contacts-full__col
        article.contacts-full__item
          .contacts-full__img-wr
            include ../../../static/images/contacts/icons/mobile.svg
          .contacts-full__content
            h4 Реквизиты
            ul
              li р/с BY68MMBN30125101200109330000 в ОАО «Банк Дабрабыт» управление по Брестской области, 224005 г. Брест, ул. Коммунистическая, 20 БИК MMBNBY22
              li ОКПО 298963881000, УНП 290960928