section.why-we
  h2 Почему с нами выгодно работать?

  .why-we__items-wr
    article.why-we__item
      h4 Быстрые проектные решения
      p При наличии большой базы выполненных проектов мы можем в короткие сроки предложить Вам подходящий вариант проектного решения.
      span.dark 1
    article.why-we__item
      h4 Полный комплекс услуг
      p Вы предлагаем услуги по проектированию, реализации проекта, доставке его на площадку и полный монтаж. У Вас нет необходимости привлекать какие-то сторонние организации.
      span.light 2
    article.why-we__item
      h4 Собственное производство
      p Более 5000 м2 производственных площадей и современное оборудование позволяет нам оперативно реализовывать любые проекты от поста охраны до промышленного здания.
      span.light 3
    article.why-we__item
      h4 Квалифицированный персонал
      p Высокая квалификация наших сотрудников помогает избежать ошибок на каждой стадии работы с нашей компанией от проектирования до сдачи объекта эксплуатацию.
      span.dark 4
    article.why-we__item
      h4 Работаем по всей Республике
      p Налаженная система поставки нашей продукции в другие города поможет Вам значительно сэкономить свое время и избежать возможных рисков.
      span.dark 5
    article.why-we__item
      h4 Сертификаты и свидетельства
      p Наличие разрешений на широкий спектр работ и сертификаты качества производимой продукции говорит о высоком уровне предоставляемых услуг.
      span.light 6
    article.why-we__item
      h4 Отсутствие посредников
      p При работе напрямую с компанией-производителем Вы не переплачиваете за услуги посредника.
      span.light 7
    article.why-we__item
      h4 Индивидуальный подход к заказчику
      p Наши специалисты подберут оптимальное решение, учитывающее все особенности  местности, климатические условия, вместимость, назначение и технологические условия.
      span.dark 8