@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "./modules/swiper/swiper.scss";
// @import "./modules/lightgallery/lightgallery.min.css";


html {
  font-size: $base-font-size;
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  color: $default-text;
}

// Titles
h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 {
  font-weight: 900;
  font-size: 5.14rem;
}

h2 {
  font-size: 2.29rem;
}

// Section descriptions
.section-desc {
  font-size: 1rem;
  line-height: 1.3rem;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

section {
  background-color: $white;

  &.yellow-section {
    background-color: $yellow;
  }
}

.wrapper {
  position: relative;
}

*, *:before, *:after { box-sizing: border-box; }

.map {
  height: 450px;
}

//Модули
@import "modules/modules";

// Sections
@import "utils/section-about/section-about.scss";
@import "utils/section-clients/section-clients.scss";
@import "utils/section-numbers/section-numbers.scss";
@import "utils/section-calculate/section-calculate.scss";
@import "utils/section-callback/section-callback.scss";
@import "utils/section-portfolio/section-portfolio.scss";
@import "utils/section-news/section-news.scss";
@import "utils/building-service-section/building-service-section.scss";
@import "utils/section-what-made/section-what-made.scss";
@import "utils/section-work-parts/section-work-parts.scss";
@import "utils/section-advantages/section-advantages.scss";
@import "utils/section-reviews/section-reviews.scss";
@import "utils/buttom-request-block/buttom-request-block.scss";
@import "utils/section-project-work/section-project-work.scss";
@import "utils/section-based-advantages/section-based-advantages.scss";
@import "utils/section-new-sphere/section-new-sphere.scss";
@import "utils/section-assortment/section-assortment.scss";
@import "utils/section-two-col-check/section-two-col-check.scss";
@import "utils/section-partners/section-partners.scss";
@import "utils/section-metal-assortment/section-metal-assortment.scss";
@import "utils/metal-page/metal-page.scss";
@import "utils/section-examples/section-examples.scss";
@import "utils/section-why-we/section-why-we.scss";
@import "utils/section-cex/section-cex.scss";
@import "utils/section-cex-gallery/section-cex-gallery.scss";
@import "utils/section-projects/section-projects.scss";
@import "utils/section-object-gallery/section-object-gallery.scss";
@import "utils/section-project-info/section-project-info.scss";
@import "utils/current-post/current-post.scss";
@import "utils/section-about-info/section-about-info.scss";
@import "utils/section-contacts/section-contacts.scss";