//- Header Block
header.home-header
  //- Slider main container
  .swiper-container
      //- Additional required wrapper
      .swiper-wrapper
          //- Slides
          .swiper-slide(
              style='background-image: url(./static/images/home-page/header-slider/slide-1.JPG)'
            )
              .darken-layer
              .container.home-header__container
                p.home-header__before-title Возводим до небес и на века!
                h1 Строительство <br>и проектирование <br>зданий
                p.home-header__desc Промышленные и гражданские здания, <br>жилье, объекты медицинского и <br>социально-культурного назначения
                a.btn.home-header__btn.btn-popup(href="/" data-modal="request") Консультация
          .swiper-slide(
              style='background-image: url(./static/images/home-page/header-slider/slide-2.jpeg)'
            )
              .darken-layer
              .container.home-header__container
                p.home-header__before-title Возводим до небес и на века!
                h1 Строительство <br>и проектирование <br>зданий2
                p.home-header__desc Промышленные и гражданские здания, <br>жилье, объекты медицинского и <br>социально-культурного назначения
                a.btn.home-header__btn.btn-popup(href="/" data-modal="request") Консультация
          .swiper-slide(
              style='background-image: url(./static/images/home-page/header-slider/slide-3.jpeg)'
            )
              .darken-layer
              .container.home-header__container
                p.home-header__before-title Возводим до небес и на века!
                h1 Строительство <br>и проектирование <br>зданий3
                p.home-header__desc Промышленные и гражданские здания, <br>жилье, объекты медицинского и <br>социально-культурного назначения
                a.btn.home-header__btn.btn-popup(href="/" data-modal="request") Консультация
      //- If we need pagination
      .home-header__pagination-wr
        .home-header__pagination-container
          .swiper-pagination