section.based-advantages
  .darken-layer
  .container
    //- Heading
    h2 Основные преимущества нашего подхода

    //- content
    .based-advantages_advantages-wr
      //- Item
      article.based-advantages__item
        .based-advantages__img-wr
          img(src="./static/images/construction-design/based-advantages/item-1.svg" alt="Alt")
        .based-advantages__item_content
          h4 Реализация под ключ
          .based-advantages__desc
            p Полный комплекс архитектурных работ от разработки концепции и ведения проекта, до закупки стройматериалов и возвденения объекта.
      //- Item
      article.based-advantages__item
        .based-advantages__img-wr
          img(src="./static/images/construction-design/based-advantages/item-2.svg" alt="Alt")
        .based-advantages__item_content
          h4 Соблюдение сроков и законодательства
          .based-advantages__desc
            p Выполняем задачи строго в соответствии с утвержденным планом работ, руководствуясь законами, нормативами и стандартами проектирования. 
      //- Item
      article.based-advantages__item
        .based-advantages__img-wr
          img(src="./static/images/construction-design/based-advantages/item-3.svg" alt="Alt")
        .based-advantages__item_content
          h4 Развернутая смета и оптимизация бюджета 
          .based-advantages__desc
            p Заказчикам предлагаем выгодную ценовую политику и оптимизируем затраты на строительство при разработке проекта. Работу выполняем при отсутсвии посредников.
      //- Item
      article.based-advantages__item
        .based-advantages__img-wr
          img(src="./static/images/construction-design/based-advantages/item-4.svg" alt="Alt")
        .based-advantages__item_content
          h4 Автоматизация процессов
          .based-advantages__desc
            p Приминение современного програмного обеспечения для моделирования при проектировании. Таким образом повышается качество и скорость работы.