//- Popup
.popup#subscribePopup
  .popup__wr
    h2 Подписка на новости
    
    form.popup__form#popupSubscribeForm(action="/")
      //- Inputs
      .popup__input-wr
        input.buttom-request__input#subscribeFormName(name="bottomFormName" placeholder="Имя / компанию" type="text")
      .popup__input-wr
        input.buttom-request__input#subscribeFormPhone(name="bottomFormPhone" placeholder="Номер телефона" type="text" inputMode="tel")
      //- Submit button
      .popup__submit-wr
        a.btn.buttom-request__submit(href="/") Отправить

    p.popup__privacy-poicy Нажимая “Отправить”, вы соглашаетесь с нашей <br> <a href="/">политикой конфиденциальности</a>

    //- Close button
    a.popup__close(href="close")