//- Popup
.popup#requestPopUp
  .popup__wr
    h2 Расчитаем стоимость проекта или окажем консультацию
    p.popup__desc Оставьте ваши контакты и мы свяжемся с вами
    
    form.popup__form#poupRequestForm(action="/")
      //- Inputs
      .popup__input-wr
        input.buttom-request__input(name="bottomFormName" placeholder="Имя / компанию" type="text")
      .popup__input-wr
        input.buttom-request__input(name="bottomFormPhone" placeholder="Номер телефона" type="text" inputMode="tel")
      //- Textarea
      .popup__textarea-wr
        textarea#bottomFormMessage.buttom-request__textarea(cols="30" rows="10" placeholder="Задачи, которые требуется решить ")
      //- File
      .popup__file-wr
        label(for="popupFormFile") Прикрепить файл
        input.buttom-request__file#popupFormFile(name="popupFormFile" type="file")
        span#fileNamePopup
      //- Submit button
      .popup__submit-wr
        a.btn.buttom-request__submit(type="submit") Отправить

    p.popup__privacy-poicy Нажимая “Отправить”, вы соглашаетесь с нашей <br> <a href="/">политикой конфиденциальности</a>

    //- Close button
    a.popup__close#closeRequstPopUp(href="close")