.container.current-post__container
  .current-post__main
    h1 Стройка к 1000-летию города (h1)
    p Компания «Продом» в рамках подготовки в мероприятий к празднованию 1000-я города Бреста, которые утверждены распоряжением Президента Республики Беларусь А.Г. Лукашенко № 142рп «О подготовке к празднованию 1000-летия г. Бреста», приступила к строительству фонтана в самом центре улицы Советской.

    h2 Ход работ (h2)
    p В результате Вы получите плановое, оперативное и эффективное снабжение Вашего предприятия металлопрокатом в нужном ассортименте и по выгодным ценам.

    ul
      li Eat
      li Code
      li Coffee
      li Repeat

    p Компания «Продом» в рамках подготовки в мероприятий к празднованию 1000-я города Бреста, которые утверждены распоряжением Президента Республики Беларусь А.Г. Лукашенко № 142рп «О подготовке к празднованию 1000-летия г. Бреста», приступила к строительству фонтана в самом центре улицы Советской.
    
    .current-post__gallery-block
      h2 Фото проекта
      .current-post__gallery#postGallery
        a(href="./static/images/projects-page/gallery/big/object-1.jpg")
          img(src="./static/images/projects-page/gallery/small/object-1.jpg", alt="object")
        a(href="./static/images/projects-page/gallery/big/object-2.jpg")
          img(src="./static/images/projects-page/gallery/small/object-2.jpg", alt="object")
        a(href="./static/images/projects-page/gallery/big/object-3.jpg")
          img(src="./static/images/projects-page/gallery/small/object-3.jpg", alt="object")
        a(href="./static/images/projects-page/gallery/big/object-4.jpg")
          img(src="./static/images/projects-page/gallery/small/object-4.jpg", alt="object")
        a(href="./static/images/projects-page/gallery/big/object-5.jpg")
          img(src="./static/images/projects-page/gallery/small/object-5.jpg", alt="object")
        a(href="./static/images/projects-page/gallery/big/object-6.jpg")
          img(src="./static/images/projects-page/gallery/small/object-6.jpg", alt="object")

  aside.current-post__asside
    //- Last news
    .current-post__last-news
      h2 Последние новости

      .current-post__last-news-list
        a.last-news(href="/")
          .last-news__img
            img(src="./static/images/projects-page/gallery/small/object-5.jpg", alt="news")
          .last-news__content
            time(datetime="13-12-2018") 13.12.2018
            h4 Строительство <br> фонтана <br> в г. Бресте
        a.last-news(href="/")
          .last-news__img
            img(src="./static/images/projects-page/gallery/small/object-5.jpg", alt="news")
          .last-news__content
            time(datetime="13-12-2018") 13.12.2018
            h4 Строительство <br> фонтана <br> в г. Бресте
        a.last-news(href="/")
          .last-news__img
            img(src="./static/images/projects-page/gallery/small/object-5.jpg", alt="news")
          .last-news__content
            time(datetime="13-12-2018") 13.12.2018
            h4 Строительство <br> фонтана <br> в г. Бресте
    .current-post__share
      h2 Поделиться в соцсетях:

      .current-post__share-item-wr
        a.share-item(href="/")
          include ../../../static/images/current-post/social/fb.svg
        a.share-item(href="/")
         include ../../../static/images/current-post/social/twitter.svg
        a.share-item(href="/")
         include ../../../static/images/current-post/social/tlgrm.svg
        a.share-item(href="/")
         include ../../../static/images/current-post/social/vk.svg
        a.share-item(href="/")
         include ../../../static/images/current-post/social/lj.svg
        a.share-item(href="/")
         include ../../../static/images/current-post/social/viber.svg
        a.share-item(href="/")
         include ../../../static/images/current-post/social/linked.svg
        a.share-item(href="/")
         include ../../../static/images/current-post/social/ok.svg