section.section-partners
  .container
    h2 Наши партнеры
    .section-desc.section-partners__desc
      p Мы сотрудничаем с различными заводами-производителями (и сбытовыми <br> компаниями) черного металлопроката. Вот некоторые из них.

    .section-partners__row.row
      .section-partners__item
        img(src="./static/images/metal-rolling/partners/partner-1.png", alt="Partner")
      .section-partners__item
        img(src="./static/images/metal-rolling/partners/partner-2.png", alt="Partner")
      .section-partners__item
        img(src="./static/images/metal-rolling/partners/partner-3.png", alt="Partner")
      .section-partners__item
        img(src="./static/images/metal-rolling/partners/partner-4.png", alt="Partner")

    .section-partners__burse
      img(src="./static/images/metal-rolling/burse.png", alt="burse")
      span ЗАРЕГИСТРИРОВАНЫ НА УНИВЕРСАЛЬНОЙ ТОРГОВОЙ БИРЖЕ”