.header-request-block {
  position: relative;
  width: 345px;
  background-color: rgba($default-text, .7);
  padding: 2.64rem 2.14rem 1.71rem;
  font-size: 1.29rem;

  h5 {
    text-transform: uppercase;
    font-weight: 500;
  }

  p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-top: 1.6rem;
  }

  a {
    margin: 4.5rem auto 0;
    width: 265px;
  }
}