section.section-assortment
  .container
    //- Heading
    h2 Ассортимент продукции
    .section-desc.section-assortment__desc
      p Мы специализируется на поставках металлопроката для объектов гражданского и промышленного строительства, а также, поставляем металлопрокат  различным компаниям и специалистам.  Деятельность нашей компании ориентирована как на розничных, так и на оптовых покупателей.
      p В сортамент поставляемого компанией черного проката входит: сортовой, фасонный, листовой и трубный прокат.

    //- Content
    //- Product list
    .section-assortment__list
      //- Item
      a.section-assortment__item.product.double(style="background: 50% 50%/cover no-repeat url('./static/images/metal-rolling/products/product-1.jpg')" href="/product-1.html")
        .darken-layer
        .product__content
          h4 Изготовление металлоконструкций
          span Перейти
          .product__plus
      //- Item
      a.section-assortment__item.product(style="background: 50% 50%/cover no-repeat url('./static/images/metal-rolling/products/product-2.jpg')" href="/product-2.html")
        .darken-layer
        .product__content
          h4 Арматура
          span Перейти
          .product__plus
      //- Item
      a.section-assortment__item.product(style="background: 50% 50%/cover no-repeat url('./static/images/metal-rolling/products/product-3.jpg')" href="/product-3.html")
        .darken-layer
        .product__content
          h4 Профиль
          span Перейти
          .product__plus
      //- Item
      a.section-assortment__item.product(style="background: 50% 50%/cover no-repeat url('./static/images/metal-rolling/products/product-4.jpg')" href="/product-4.html")
        .darken-layer
        .product__content
          h4 Лист
          span Перейти
          .product__plus
      //- Item
      a.section-assortment__item.product(style="background: 50% 50%/cover no-repeat url('./static/images/metal-rolling/products/product-5.gif')" href="/product-5.html")
        .darken-layer
        .product__content
          h4 Двутавр
          span Перейти
          .product__plus
      //- Item
      a.section-assortment__item.product(style="background: 50% 50%/cover no-repeat url('./static/images/metal-rolling/products/product-6.jpg')" href="/product-6.html")
        .darken-layer
        .product__content
          h4 Труба
          span Перейти
          .product__plus
      //- Item
      a.section-assortment__item.product.double(style="background: 50% 50%/cover no-repeat url('./static/images/metal-rolling/products/product-7.jpg')" href="/product-7.html")
        .darken-layer
        .product__content
          h4 Швеллер
          span Перейти
          .product__plus

    //- Requst button block
    .section-assortment__request
      h2 Производство металлоконструкций и обработка металлопроката
      .section-assortment__request-row
        .section-assortment__request-text
          p ООО «Продом» предлагает Вам деловое сотрудничество в решении задач по комплексному обеспечению Вашего предприятия широким перечнем металлопродукции. Мы готовы предложить клиентам лучшие цены и наличие необходимого сортамента на нашем складе.
          p В результате Вы получите плановое, оперативное и эффективное снабжение Вашего предприятия металлопрокатом в нужном ассортименте и по выгодным ценам.
        a.section-assortment__request-btn.btn.btn-popup(href='/' data-modal='request') СВЯЗАТЬСЯ С НАМИ