section.building-service
  .container.building-service__container
    h2 Строительные услуги
    .section-desc.building-service__desc
      p Компания ООО «Продом» имеет аттестат соответствия первой категории на выполнение функций генерального подрядчика и на право осуществления строительства объектов первого-четвертого классов сложности, сертификатами соответствия системы менеджмента качества выполняемых строительных работ требованиям ISO 9001-2011, сертификаты соответствия на отдельные виды строительных работ.

      p Мы готовы Вам предложить свои услуги в качестве генерального подрядчика, а так же субподрядчика, по выполнению всех строительно-монтажных работ и полной комплектации объектов второго-четвертого класса сложности.

    .row.building-service__row
      article.building-service__item(style="background-image: url('./static/images/services-building-page/services/service-2.jpeg')")
        .darken-layer
        .building-service__item-content
          span УСЛУГИ
          h4 Общестроительные работы
          ul
            li Подготовительные работы;
            li Устройство кровли;
            li Гидроизоляция;
            li Монтаж металлоконструкций;
            li Монолит, железобетон;
            li Метод "Стена в грунте";
            li Строительство фундамента;
            li Электрофизические измерения.
      article.building-service__item(style="background-image: url('./static/images/services-building-page/services/service-2.jpeg')")
        .darken-layer
        .building-service__item-content
          span УСЛУГИ
          h4 Инженерные сети <br> и коммуникации
          ul
            li Системы вентиляции
            li Канализация, теплоснабжение
            li Электроснабжение
            li Системы связи
      article.building-service__item(style="background-image: url('./static/images/services-building-page/services/service-3.jpeg')")
        .darken-layer
        .building-service__item-content
          span УСЛУГИ
          h4 Отделочные работы
          ul
            li Теплоизоляция фасадов