section.new-sphere
  .container
    //- Heading
    h2 Новые сферы деятельности компании
    .section-desc.new-sphere__desc
      p ООО «Продом» — одна из крупнейших, прогрессивных, высокотехнологичных строительных компаний, которая ведет свою деятельность с 2010 года.
      p С 2016 года компания успешно осваивает проекты жилых комплексов и коммерческой недвижимости комфорт-класса.
      p При реализации проектов жилых комплексов, компания «Продом» уделяет особое внимание соблюдению сроков и качеству строительства, формированию комфортной среды для будущих жителей, созданию разнообразной и доступной инфраструктуры — паркинг, детские площадки, спортивные площадки и другие элементы для счастливой жизни.

    //- Content
    .row.new-sphere__row
      //- Item
      article.new-sphere__item
        .darken-layer
        .new-sphere__item-content
          h4 Жилые комплексы
          p Строительство комфортабельного жилого комплекса <br> по ул. Морозова в г. Бресте согласно Генерального плана №12 <br> в благоустроенном микрорайоне ЮЗМР-4
      //- Item
      article.new-sphere__item
        .darken-layer
        .new-sphere__item-content
          h4 Офисы в аренду
          p Офисные, производственные и складские <br> помещения в городе Бресте

    //- Link to site
    .new-sphere__target.target
      .target__content
        p Актуальная информация о наших жилых и коммерческих объектах находится на отдельном сайте посященном долевому строительству.
      a.btn.btn-white.target__btn(href="/link" target="_blank") ПЕРЕЙТИ