section.project-info
  .container.project-info__container
    .project-info__about
      h3 О проекте
      p Современный мир не представляется нам без строительства. Это может быть строительство жилых домов, производственных помещений, магазинов и других объектов. И, конечно же, в связи с ростом строительства в мире, растет и количество строительных компаний.
      p Современный мир не представляется нам без строительства. Это может быть строительство жилых домов, производственных помещений, магазинов и других объектов. И, конечно же, в связи с ростом строительства в мире, растет и количество строительных компаний.
    .project-info__main-info
      h3 Основная информация
      ul
        li
          span Статус:
          |сдан
        li
          span Дата сдачи:
          |2018 год
      ul
        li
          span Заказчик:
          |«Белтаможсервис»
        li
          span Срок исполнения:
          |18 месяцев
        li
          span Площадь:
          |3000 м2
        li
          span Адрес:
          |погранпереход «Колодищи 2»
        li
          span Тип:
          |Общественные здания
        li
          span Виды работ:
          |Земляные работы, Строительство 