.mobile-nav#mobileNav
  .mobile-nav__wr
    .mobile-nav__controls
      a.mobile-nav__phone(href="tel:+3") +375 (162) 20-92-28
      a.mobile-nav__mail(href="mailto:info@prodomstroy.by") info@prodomstroy.by
      .mobile-nav__lng-switcher
        a.mobile-nav__lng-item.active(href="/rus") RUS
        a.mobile-nav__lng-item(href="/end") ENG
    nav.mobile-nav__nav
      ul
        li.active
          a(href="/") ГЛАВНАЯ
        li
          a(href="/") УСЛУГИ
          ul
            li
              a(href="/") Строительство зданий
            li
              a(href="/") Долевое строительство
            li
              a(href="/") Проектирование строительства
        li
          a(href="/") МЕТАЛЛОПРОКАТ
          ul
            li
              a(href="/") Изготовление металлоконструкций
            li
              a(href="/") Арматура
            li
              a(href="/") Профиль
            li
              a(href="/") Лист
            li
              a(href="/") Двутавр
            li
              a(href="/") Труба
            li
              a(href="/") Швеллер
        li
          a(href="/") ПРОЕКТЫ
        li
          a(href="/") КОМПАНИЯ
          ul
            li
              a(href="/") О нас
            li
              a(href="/") Блог
        li
          a(href="/") КОНТАКТЫ