// Home - header
.home-header {
  position: relative;
  height: 100vh;
  width: 100%;

  // Slider in Home Header
  .swiper-slide {
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .darken-layer {
    @include darken-layer;
  }
  
  // Content in slide
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: z('header-content');
    position: relative;
    color: $white;
    padding-top: 130px;
  }

  &__before-title {
    text-transform: uppercase;
    color: $yellow;
    font-size: 1.79rem;
    font-weight: 500;
  }

  h1 {
    margin-top: 1.43rem;
  }

  &__desc {
    font-size: 1.57rem;
    margin-top: 1.86rem;
    line-height: 1.9rem;
  }

  &__btn {
    margin-top: 2.07rem;
  }

  // Pagination
  &__pagination-wr {
    position: absolute;
    width: 100px;
    z-index: z('header-pagination');
    height: 100%;
    padding-top: 130px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    right: calc((100% - 1140px) / 2);
  }

  &__pagination-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 433px;
    width: 100%;

    .swiper-pagination {
      position: relative;
      bottom: 0;
      display: flex;
      justify-content: flex-end;
      color: $white;
      font-weight: 400;
      font-size: 1.86rem;

      span {
        &:first-child {
          margin-right: 15px;
        }

        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
}

// Second header
.second-header {
  position: relative;
  height: 640px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  // Darken Bg
  .darken-layer {
    @include darken-layer;
  }

  // Conten of header
  &__container {
    padding-top: 130px;
    height: 100%;
    z-index: z('header-content');
    position: relative;
    color: $white;
  }

  &__content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  // page type
  &__page-type {
    font-size: 1.29rem;
    color: $yellow;
    font-weight: 500;
    text-transform: uppercase;
  }

  // TItle
  h1 {
    margin-top: 1.5rem;
    font-size: 4.29rem;
    font-weight: 900;
    line-height: 4.5rem;

    &.current-project {
      font-size: 2.86rem;
      line-height: 3.2rem;
    }
  }

  &__desc {
    margin-top: 1.5rem;
    font-weight: normal;
    font-size: 1.29rem;
    line-height: 1.5rem;
    max-width: 90%;
  }

  // bread crumbs
  ul {
    margin-top: 5.5rem;
    display: flex;

    a {
      color: $yellow;
      font-size: 0.86rem;
      font-weight: 400;
      font-style: italic;
    }
  }

  li {
    margin-left: 1rem;
    position: relative;
    &:before {
      @include pseudo(block, absolute, $content: '-');
      left: -0.6rem;
      top: 50%;
      transform: translateY(-50%);
      color: $yellow;
    }

    &:first-child {
      margin-left: 0;
      &::before {
        display: none;
      }
    }
  }

  // Requst block position
  &__request-block {
    position: absolute;
    bottom: -2.71rem;
    right: 0;
  }
}

// Third header
.third-header {
  position: relative;
  background-color: $third-header-bg;
  height: 190px;
}