// Home - header
.home-header {
  position: relative;
  height: 100vh;
  width: 100%;

  // Slider in Home Header
  .swiper-slide {
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .darken-layer {
    @include darken-layer;
  }
}