section.project-work
  .container
    //- Heading
    h2 Обработка металлопроката
    .section-desc.project-work__desc
      p Помимо продажи металлопроката и готовых металлоизделий специалисты компании готовы предложить любую необходимую помощь по обработке и подготовке металла.
      p Предлагаемые нашей компанией услуги по первичной переработке металлопродукции позволят потребителям металла отказаться от услуг собственных вспомогательных цехов.
      p Мы предлагаем следующие виды услуг по обработке металлов:

    //- Content
    .project-work__items-wr
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/metal-pages/metal-processing/item-1.jpg" alt="Item image")
        figcaption Сварочные работы
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/metal-pages/metal-processing/item-2.jpg" alt="Item image")
        figcaption Шлифовка и полировка металлов: труб, листов, полос, корпусов изделий
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/metal-pages/metal-processing/item-3.jpg" alt="Item image")
        figcaption Плазменная резка металла
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/metal-pages/metal-processing/item-4.png" alt="Item image")
        figcaption Резка металла
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/metal-pages/metal-processing/item-5.jpg" alt="Item image")
        figcaption Подготовка металлоизделий к покраске (грунтовке)
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/metal-pages/metal-processing/item-6.jpg" alt="Item image")
        figcaption Торцовочные работы