if pageClass == "services"
  section.two-col-check.services-page
    .darken-layer
    .container
      h2 Основные преимущества нашего подхода

      .two-col-check__items
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 9 лет на рынке
            span За это время было возведено более 180 объектов. С нами сотрудничают 1000 работников и специалистов. 
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Строгое соблюдение сроков
            span Планирование реализуется с участия в тендере и до завершения строительства.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Соблюдение бюджета
            span Контролиуем расход финансовых средств и материалов на всех этапах строительства.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Контроль качества и регламентов
            span После сдачи объекта осуществляем гарантийное обслуживание.
else if pageClass == "about-page"
  section.two-col-check.about
    .container
      h2 Принципы работы компании «Продом»
      p.two-col-check__desc Любая строительная компания в ходе своей деятельности вырабатывает основные подходы к работе и принципы взаимоотношений с партнерами. Многие называют это корпоративной этикой, корпоративной тайной – мы же называем это секретом успеха и с удовольствием открываем их своим клиентам:

      .two-col-check__items
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Мы работаем не со зданиями, а с людьми
            span Который находится по адресу г. Брест, ул. Комсомольская, 23Б
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Профессионализм
            span Мы гарантируем качество и своевременность поставок.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Выполнение работ точно в срок
            span Находим индивидуальный подход к каждому клиенту. Возможен как крупный, так и мелкий опт.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Только лучшие материалы
            span Отбор и комплектация металлопроката, его обработка (резка, гибка, обжиг, грунтовка) и упаковка.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Высочайшее качество услуг
            span Благодаря этому мы имеем возможность делать металлопродукцию на заказ с любыми параметрами и опциями, в льбых обьемах.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Соотношение цены-качества
            span Это позволяет нам решать задачи любого уровня сложности в кратчайшие сроки.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Норматив – это закон
            span Это позволяет нам решать задачи любого уровня сложности в кратчайшие сроки.
else
  section.two-col-check
    .container
      h2 Преимущества при сотрудничестве с нами

      .two-col-check__items
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Собственный торгово-складской комплекс
            span Который находится по адресу г. Брест, ул. Комсомольская, 23Б
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Доставка в любой пункт назначения
            span Мы гарантируем качество и своевременность поставок.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Гибкая ценовая политика
            span Находим индивидуальный подход к каждому клиенту. Возможен как крупный, так и мелкий опт.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Комплексное обслуживание клиентов
            span Отбор и комплектация металлопроката, его обработка (резка, гибка, обжиг, грунтовка) и упаковка.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Собственное производство
            span Благодаря этому мы имеем возможность делать металлопродукцию на заказ с любыми параметрами и опциями, в льбых обьемах.
        //- Item
        article.two-col-check__item
          .two-col-check__check-wr
            .section-numbers__check
          .two-col-check__item-content
            h4 Многолетний опыт 
            span Это позволяет нам решать задачи любого уровня сложности в кратчайшие сроки.