section.two-col-check
  .container
    h2 Преимущества при сотрудничестве с нами

    .two-col-check__items
      //- Item
      article.two-col-check__item
        .two-col-check__check-wr
          .section-numbers__check
        .two-col-check__item-content
          h4 Собственный торгово-складской комплекс
          span Который находится по адресу г. Брест, ул. Комсомольская, 23Б
      //- Item
      article.two-col-check__item
        .two-col-check__check-wr
          .section-numbers__check
        .two-col-check__item-content
          h4 Доставка в любой пункт назначения
          span Мы гарантируем качество и своевременность поставок.
      //- Item
      article.two-col-check__item
        .two-col-check__check-wr
          .section-numbers__check
        .two-col-check__item-content
          h4 Гибкая ценовая политика
          span Находим индивидуальный подход к каждому клиенту. Возможен как крупный, так и мелкий опт.
      //- Item
      article.two-col-check__item
        .two-col-check__check-wr
          .section-numbers__check
        .two-col-check__item-content
          h4 Комплексное обслуживание клиентов
          span Отбор и комплектация металлопроката, его обработка (резка, гибка, обжиг, грунтовка) и упаковка.
      //- Item
      article.two-col-check__item
        .two-col-check__check-wr
          .section-numbers__check
        .two-col-check__item-content
          h4 Собственное производство
          span Благодаря этому мы имеем возможность делать металлопродукцию на заказ с любыми параметрами и опциями, в льбых обьемах.
      //- Item
      article.two-col-check__item
        .two-col-check__check-wr
          .section-numbers__check
        .two-col-check__item-content
          h4 Многолетний опыт 
          span Это позволяет нам решать задачи любого уровня сложности в кратчайшие сроки.