section.assortment-armature
  h2 Ассортимент арматуры
  p Компания ООО «Продом» так же является поставщиком (первым импортерам) черного металлопроката строительным предприятиям Брестской области и Республики Беларусь. Мы осуществляем продаже арматуры классов А1 и А3 со склада в г. Бресте и с возможностью доставки по все территории Республики Беларусь. 
  p Цена арматуры — величина не постоянная. При заказе арматуры менее 1 тонны — цена повышается, при оптовом заказе — предоставляется скидка. Если необходимо закупить арматуру оптом более 40 тонн — цена арматуры (стоимость за 1 тонну) оговаривается индивидуально.

  h2 Факторы, влияющие на цену арматуры
  ul
    li - Сезонный фактор — как правило, повышение стоимости арматуры за метр погонный и за тонну происходит в весенний период, с постепенным (не значительным) повышением до пика строительного сезона;
    li - Рыночный фактор — постоянный спрос или дефицит ходовой арматуры (например — 10 мм, 12 мм), так же стабильность экономики страны, курсы национальных валют могут оказывать существенное влияние на стоимость арматуры;
    li - Марка стали — прокат арматуры с повышенным содержанием легирующих компонентов (стали марки 35ГС, 25Г2С) и термически обработанная арматура (Ат800) — всегда дороже, чем арматура из углеродистой стали марки 3ПС/СП (А500С).
    li - Объем закупки — при заказе арматуры от 40 тонн, поставщики как правило, предоставляют скидки на 1 тонну стоимости арматуры. В этом случае, стоимость арматуры оговаривается индивидуально. Если предоставления скидки не возможно, то рассматривается возможность снижения стоимости доставки.
    li - Место поставки — место поставки, как и место закупки, влияет на стоимость арматуры.
    li - При продаже арматуры компания оказывает дополнительные услуги: резка арматуры в размер и доставка автотранспортом.

  h2 Технические характеристики арматуры
  p Сталь горячекатаная для армирования железобетонных конструкций.pdf