section.advantages-section
  .container
    h2 Основные преимущества нашего подхода

    .advantages-section__content
      .advantages-section__item
        .advantages-section__item_check
        .advantages-section__item_content
          h5 9 лет на рынке
          p За это время было возведено более 180 объектов. <br> С нами сотрудничают 1000 работников и специалистов. 
      .advantages-section__item
        .advantages-section__item_check
        .advantages-section__item_content
          h5 Соблюдение бюджета 
          p Контролиуем расход финансовых средств и материалов на всех этапах строительства.
      .advantages-section__item
        .advantages-section__item_check
        .advantages-section__item_content
          h5 Строгое соблюдение сроков
          p Планирование реализуется с участия в тендере <br> и до завершения строительства.
      .advantages-section__item
        .advantages-section__item_check
        .advantages-section__item_content
          h5 Контроль качества и регламентов
          p После сдачи объекта осуществляем гарантийное обслуживание. 