section.work-parts
  .container
    //- Heading
    h2 Порядок работы

    //- Content
    .row.work-parts__row
      .work-parts__item
        .work-parts__item_square
          img(src="./static/images/services-building-page/work-parts/1.svg", alt="Alt")
        span.work-parts__item_title Составление сметы <br> и подписание договора
      .work-parts__item
        .work-parts__item_square
          img(src="./static/images/services-building-page/work-parts/2.svg", alt="Alt")
        span.work-parts__item_title Привлечение  <br> суб-подрядчиков <br> и подготовка
      .work-parts__item
        .work-parts__item_square
          img(src="./static/images/services-building-page/work-parts/3.svg", alt="Alt")
        span.work-parts__item_title Реализация строительных <br> работ
      .work-parts__item
        .work-parts__item_square
          img(src="./static/images/services-building-page/work-parts/4.svg", alt="Alt")
        span.work-parts__item_title Сдача объекта заказчику
