@media screen and (max-width: map-get($bootstrap-breackpoints, 'md')) {
  .building-service {
    &__row {
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: calc(50% - 10px);
      height: 400px;
      margin-top: 20px;
      background-position: 0 100%;

      &:first-child {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and (max-width: map-get($bootstrap-breackpoints, 'sm')) {
  .building-service {
    &__item {
      flex-basis: 100%;
      margin-top: 10px;
    }
  }
}