section.section-about
  .container
    h2 Строительная компания «Продом»

    //- Row description and button
    .row.section-about__row.content
      .section-about__desc.section-desc
        p ООО «Продом» работает на рынке строительных услуг и ведет строительство промышленных, гражданских объектов, жилья, объектов медицинского и социально-культурного назначения уже более 9 лет. Качественно и в срок выполняет весь комплекс строительных работ.
      .section-about__btn
        a.btn(href="/about") О КОМПАНИИ

    //- Row for services item
    .row.section-about__row.items
      //- item
      article.section-about__services-item.services-item(
            style='background-image: url(./static/images/home-page/services-item/services-item-1.jpeg)'
          )
        .darken-layer
        a(href="/service-item")
          .services-item__col
            span.services-item__type УСЛУГА
            h4 Строительство зданий <br>и сооружений
            span.services-item__href Перейти
          .services-item__col
            span
      //- item
      article.section-about__services-item.services-item(
            style='background-image: url(./static/images/home-page/services-item/services-item-2.jpg)'
          )
        .darken-layer
        a(href="/service-item")
          .services-item__col
            span.services-item__type УСЛУГА
            h4 Долевое строительство
            span.services-item__href Перейти
          .services-item__col
            span
      //- item
      article.section-about__services-item.services-item(
            style='background-image: url(./static/images/home-page/services-item/services-item-3.jpeg)'
          )
        .darken-layer
        a(href="/service-item")
          .services-item__col
            span.services-item__type УСЛУГА
            h4 Проектирование строительства
            span.services-item__href Перейти
          .services-item__col
            span