section.what-made.yellow-section
  .container
    //- Heading
    h2 Объекты, которые реализуем
    .section-desc.what-made__desc
      p Реализуем проекты любой сложности, от жилых и общественных зданий до крупных промышленных объектов. Также занимаемся реконструкцией и точечными строительными работами.

    //- Content
    .row.what-made__row
      .what-made__item
        img(src="./static/images/services-building-page/what-made/what-made-1.svg", alt="")
        h5 Жилые здания
      .what-made__item
        img(src="./static/images/services-building-page/what-made/what-made-2.svg", alt="")
        h5 Общественные здания
      .what-made__item
        img(src="./static/images/services-building-page/what-made/what-made-3.svg", alt="")
        h5 Промышленные здания