.header-request-block
  if pageClass == 'current-post'
    h5 БУДЬТЕ В КУРСЕ
    p Мы регулярно публикуем новости и полезные статьи в нашем блоге. Подпишитесь на нашу рассылку!
    a.btn.btn-popup(href='/' data-modal="request") ПОДПИСАТЬСЯ
  else
    h5 ОСТАВЬТЕ ЗАЯВКУ
    p Мы свяжемся с вами, что бы уточнить детали и предоставить подробный расчет.

    a.btn.btn-popup(href='/' data-modal="request") РАССЧИТАТЬ ПРОЕКТ