section.section-portfolio
  //- Portfolio title an description
  .container.section-portfolio__container
    .section-portfolio__content
      h2 Наши проекты
      .section-desc.section-portfolio__desc
        p За годы работы компания “Продом” успела поучаствовать в абсолютно разных строительных проектах, начиная от реконструкции жилых домов и заканчивая масшабными многофункциональными бизнес-центрами.
    //- Portfolio button
    .section-portfolio__btn-wr
      a.btn(href="/portfolio") ПОРТФОЛИО

  .section-portfolio__slider-wr
    .section-portfolio__slider
      .swiper-wrapper
        article.swiper-slide.services-item.double(style='background-image: url(./static/images/home-page/portfolio/portfolio-1.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type 2018
              h4 Таможенные склады и административное здание на погранпереходе “Козловичи-2”
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item(style='background-image: url(./static/images/home-page/portfolio/portfolio-2.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type 2018
              h4 Многоквартирный жилой дом по ул. 17-ого сентября
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item(style='background-image: url(./static/images/home-page/portfolio/portfolio-2.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type 2018
              h4 Реконструкция сооружений канализации в Бресте
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item(style='background-image: url(./static/images/home-page/services-item/services-item-3.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type УСЛУГА
              h4 Долевое строительство
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item.double(style='background-image: url(./static/images/home-page/services-item/services-item-3.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type УСЛУГА
              h4 Долевое строительство
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item(style='background-image: url(./static/images/home-page/services-item/services-item-3.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type УСЛУГА
              h4 Долевое строительство
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item(style='background-image: url(./static/images/home-page/services-item/services-item-3.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type УСЛУГА
              h4 Долевое строительство
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item(style='background-image: url(./static/images/home-page/services-item/services-item-3.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type УСЛУГА
              h4 Долевое строительство
              span.services-item__href Перейти
            .services-item__col
              span
        article.swiper-slide.services-item(style='background-image: url(./static/images/home-page/services-item/services-item-3.jpeg)')
          .darken-layer
          a(href="/current-project")
            .services-item__col
              span.services-item__type УСЛУГА
              h4 Долевое строительство
              span.services-item__href Перейти
            .services-item__col
              span