extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var headerName = 'home-header'

block content
	section.index-page__about
		h2 Строительная компания «Продом»