extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var headerName = 'home-header'

block content
	include ./modules/section-about/section-about
	include ./modules/section-clients/section-clients
	include ./modules/section-numbers/section-numbers
	include ./modules/section-calculate/section-calculate
	include ./modules/section-callback/section-callback