extends template/main

block variables
	- var title = 'Строительство зданий и сооружений'
	- var pageClass = 'services-page-first'
	- var headerName = 'second-header'
	- var headerImgPath = 'background-image: url(./static/images/services-building-page/header.jpeg)'
	- var title = 'Строительство зданий и сооружений'
	- var desc = 'Все виды строительных услуг, от  точечных работ до комплексного возведения жилых домов и промышленных зданий.'
	- var breadcrumb1 = "Главная"
	- var breadcrumbLink1 = "/"
	- var breadcrumb2 = "Строительство зданий"
	- var breadcrumbLink2 = "/services-first.html"
	- var portfolioDesc = "Ознакомьтесь с нашим портфолио, которое мы регулярно пополняем реализованными проектами. За 10 лет работы их накопилось около 200, разного масшаба и сложности."

block content
	include ./modules/building-service-section/building-service-section.pug
	include ./modules/section-what-made/section-what-made.pug
	include ./modules/section-work-parts/section-work-parts.pug
	include ./modules/section-portfolio/section-portfolio.pug
	include ./modules/section-advantages/section-advantages.pug
	include ./modules/section-reviews/section-reviews.pug