extends template/main

block variables
	- var title = 'Строительство зданий и сооружений'
	- var pageClass = 'services-page-first'
	- var headerName = 'second-header'
	- var headerImgPath = 'background-image: url(./static/images/services-building-page/header.jpeg)'
	- var title = 'Строительство зданий и сооружений'
	- var desc = 'Все виды строительных услуг, от  точечных работ до комплексного возведения жилых домов и промышленных зданий.'
	- var breadcrumb1 = "Главная"
	- var breadcrumbLink1 = "/"
	- var breadcrumb2 = "Строительство зданий"
	- var breadcrumbLink2 = "/services-first.html"

block content
	//- include ./modules/section-about/section-about