// Colors
$white: #ffffff;
$black: #000000;
$yellow: #FFBE00;
// Navigation Block
$nav-text-color: #ffffff;
$nav-active-color: #FFBE00;
$second-lavel-meny-bg: #222228;
// Btn
$default-text: #222228;
// News
$news-item-bg: #F9F9F9;
// Work parts
$work-parts-square: #EAEAEA;
// Bottom request form
$light-gray-bg: #F1F1F1;

// Sizes
$base-font-size: 16px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$bootstrap-breackpoints: (
  "lg" : 1199px,
  "md" : 991px,
  "sm" : 768px,
  "xs" : 575px
);

$bootstrap-max-width: (
  "xl" : 1140px,
  "lg" : 960px,
  "md" : 720px,
  "sm" : 540px,
  "xs" : 100%
);

$content-size: 1024px;

// Darken layer an image
$darken-layer-bg: #222228;

// Fonts
$default-font: 'GothamPro', sans-serif;