section.object-gallery
  .container
    h2 Фото объекта

    //- Gallery
    .object-gallery__gallery#objectGallery
      a(href="./static/images/projects-page/gallery/big/object-1.jpg")
        img(src="./static/images/projects-page/gallery/small/object-1.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-2.jpg")
        img(src="./static/images/projects-page/gallery/small/object-2.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-3.jpg")
        img(src="./static/images/projects-page/gallery/small/object-3.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-4.jpg")
        img(src="./static/images/projects-page/gallery/small/object-4.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-5.jpg")
        img(src="./static/images/projects-page/gallery/small/object-5.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-6.jpg")
        img(src="./static/images/projects-page/gallery/small/object-6.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-7.jpg")
        img(src="./static/images/projects-page/gallery/small/object-7.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-8.jpg")
        img(src="./static/images/projects-page/gallery/small/object-8.jpg", alt="object")
      a(href="./static/images/projects-page/gallery/big/object-9.jpg")
        img(src="./static/images/projects-page/gallery/small/object-9.jpg", alt="object")