section.cex-gallery
  h2 Фото цеха

  .cex-gallery__gallery.examples__items-wr#cexGallery
    a.examples__item(href="./static/images/metal-pages/examples/big/1.jpg")
      img(src="./static/images/metal-pages/examples/small/1.jpg", alt="")
    a.examples__item(href="./static/images/metal-pages/examples/big/2.jpg")
      img(src="./static/images/metal-pages/examples/small/2.jpg", alt="")
    a.examples__item(href="./static/images/metal-pages/examples/big/3.jpg")
      img(src="./static/images/metal-pages/examples/small/3.jpg", alt="")
    a.examples__item(href="./static/images/metal-pages/examples/big/4.jpg")
      img(src="./static/images/metal-pages/examples/small/4.jpg", alt="")
    a.examples__item(href="./static/images/metal-pages/examples/big/5.jpg")
      img(src="./static/images/metal-pages/examples/small/5.jpg", alt="")
    a.examples__item(href="./static/images/metal-pages/examples/big/6.jpg")
      img(src="./static/images/metal-pages/examples/small/6.jpg", alt="")