section.section-news
  .container.section-news__container
    if pageClass == 'blog'
      h2 Блог
    else
      h2 Новости о компании

    //- Description and button
    if pageClass == 'blog'
      .section-news__content
        .section-news__desc.section-desc
          p Мы регулярно публикуем новости о нашей компании и проектах, а также полезные статьи по строительству, стройматериалам и недвижимости. Подписывайтесь на нашу рассылку,чтобы быть в курсе!
        .section-news__btn-wr
          a.btn.btn-popup(href="" data-modal="subscribe") ПОДПИСАТЬСЯ
    else
      .section-news__content
          .section-news__desc.section-desc
            p Следите за нашей новостной лентой, где мы публикуем последние события из жизни компании, новые проекты, а также полезные статьи.
          .section-news__btn-wr
            a.btn(href="/blog.html") ВСЕ НОВОСТИ

    //- News items
    .section-news__items
      article.section-news__item
        a(href="/current-post.html")
          .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-1.jpg)')
            .darken-layer
          .section-news__item-content
            h4 Строительство фонтана на ул. Советской в г.Бресте

            time(datetime="2013-04-06T13:53") 13.12.2018
      article.section-news__item
        a(href="/current-post.html")
          .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-2.jpg)')
            .darken-layer
          .section-news__item-content
            h4 Строительство завода по производству премиксов

            time(datetime="2013-04-06T13:53") 13.12.2018
      article.section-news__item
        a(href="/current-post.html")
          .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-3.jpg)')
            .darken-layer
          .section-news__item-content
            h4 Реконструкция очистных сооружений канализации

            time(datetime="2013-04-06T13:53") 13.12.2018
      if pageClass == 'blog'
        article.section-news__item
          a(href="/current-post.html")
            .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-1.jpg)')
              .darken-layer
            .section-news__item-content
              h4 Строительство фонтана на ул. Советской в г.Бресте

              time(datetime="2013-04-06T13:53") 13.12.2018
        article.section-news__item
          a(href="/current-post.html")
            .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-2.jpg)')
              .darken-layer
            .section-news__item-content
              h4 Строительство завода по производству премиксов

              time(datetime="2013-04-06T13:53") 13.12.2018
        article.section-news__item
          a(href="/current-post.html")
            .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-3.jpg)')
              .darken-layer
            .section-news__item-content
              h4 Реконструкция очистных сооружений канализации

              time(datetime="2013-04-06T13:53") 13.12.2018
        article.section-news__item
          a(href="/current-post.html")
            .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-1.jpg)')
              .darken-layer
            .section-news__item-content
              h4 Строительство фонтана на ул. Советской в г.Бресте

              time(datetime="2013-04-06T13:53") 13.12.2018
        article.section-news__item
          a(href="/current-post.html")
            .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-2.jpg)')
              .darken-layer
            .section-news__item-content
              h4 Строительство завода по производству премиксов

              time(datetime="2013-04-06T13:53") 13.12.2018
        article.section-news__item
          a(href="/current-post.html")
            .section-news__item-img(style='background-image: url(./static/images/home-page/news/news-3.jpg)')
              .darken-layer
            .section-news__item-content
              h4 Реконструкция очистных сооружений канализации

              time(datetime="2013-04-06T13:53") 13.12.2018

    //- More button
    if pageClass == 'blog'
      .row.section-projects__more-wr
        a.section-projects__more#morePosts Больше статей