.btn {
  position: relative;
  display: block;
  width: 223px;
  height: 46px;
  font-weight: 500;
  color: $btn-text;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: $yellow;
  line-height: 1;

  &:hover {
    cursor: pointer;
  }
}