section.about-info
  .container
    h2 Лидеры рынка
    p Компания «Продом» по праву занимает лидирующие место строительного творчества в Брестском регионе, а так же по Республике Беларусь. Девять лет успеха на региональных рынках Республики Беларусь позволили пополнить активы сотнями крупных и средних проектов самого различного назначения. Заказчики с удовольствием эксплуатируют настоящие строительные шедевры по регионам Республики Беларусь, возведенные специалистами по всем правилам архитектуры и инжиниринга.

    .row.about-info__row
      .about-info__row-item
        h2 Девиз компании
        p Создание и мастерство на всех этапах строительных и монтажных работ, внимание к деталям и особым пожеланием заказчиков. Умение совмещать несовместимое, находить нестандартные и эффективные методы решения текущих задач, предлагать лучшие варианты реализации проектов в заданных условиях – умение, которое дано не каждому. В каждом штрихе, рабочем моменте и конечном результате прослеживается качество и скрупулёзность, оправданная экономия и эстетика строительного творчества.
      .about-info__row-item
        h2 Миссия компании
        p Создание конечного строительного продукта, полностью отвечающего планам заказчика и его индивидуальным этетическим ожиданиям. Умение идеально воплощать идеи основывается не только на внушительном опыте и профессионализме членов команды «Продом». За годы работы, специалисты выработали особый алгоритм взаимодействия с заказчиками, основанный на сопровождении творческих и созидательных идей с максимально возможной степенью реализации задуманного.