section.project-work
  .container
    //- Heading
    h2 Выполняем весь комплекс проектных работ
    .section-desc.project-work__desc
      p Хотите заказать проект или выбрать организацию? Доверьтесь проектному бюро компании «Продом». В условиях меняющихся архитектурных трендов компания «Продом» всегда идет в ногу со временем.

    //- Content
    .project-work__items-wr
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/construction-design/project-work/item-1.jpg" alt="Item image")
        figcaption Выполнение функций генерального проектировщика
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/construction-design/project-work/item-2.jpg" alt="Item image")
        figcaption Разработка предпроектной (предынвестиционной) документации
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/construction-design/project-work/item-3.jpg" alt="Item image")
        figcaption Разработка разделов проектной документации (для объектов строительства 1-4 класса сложности)
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/construction-design/project-work/item-4.jpg" alt="Item image")
        figcaption Сметная документация
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/construction-design/project-work/item-5.jpg" alt="Item image")
        figcaption Архитектурные решения
      figure.project-work__item
        .project-work__item_img-wr
          img(src="./static/images/construction-design/project-work/item-6.jpg" alt="Item image")
        figcaption Генеральный план
