section.section-clients
  .container.section-clients__container
    h2 Нам доверяют

    .section-clients__slider-wr
      .section-clients__swiper-container
        .section-clients__swiper-wrapper.swiper-wrapper
          .section-clients__swiper-slide.swiper-slide
            .section-clients__in-slide
              img(src="./static/images/home-page/clients/client-1.jpg", alt="Company name")
          .section-clients__swiper-slide.swiper-slide
            .section-clients__in-slide
              img(src="./static/images/home-page/clients/client-2.jpg", alt="Company name")
          .section-clients__swiper-slide.swiper-slide
            .section-clients__in-slide
              img(src="./static/images/home-page/clients/client-3.jpg", alt="Company name")
          .section-clients__swiper-slide.swiper-slide
            .section-clients__in-slide
              img(src="./static/images/home-page/clients/client-4.jpg", alt="Company name")
          .section-clients__swiper-slide.swiper-slide
            .section-clients__in-slide
              img(src="./static/images/home-page/clients/client-5.jpg", alt="Company name")
          .section-clients__swiper-slide.swiper-slide
            .section-clients__in-slide
              img(src="./static/images/home-page/clients/client-6.jpg", alt="Company name")
          .section-clients__swiper-slide.swiper-slide
            .section-clients__in-slide
              img(src="./static/images/home-page/clients/client-7.jpg", alt="Company name")