section.yellow-section.section-calculate
  .container.section-calculate__container
    .section-calculate__content
      h2 Рассчитать услуги 
      .section-desc.section-calculate__desc
        p Позвоните нам или закажите звонок, <br>и мы обязательно перезвоним Вам и ответим на все вопросы.
    .section-calculate__btn-wr
      a.btn.btn-white.section-calculate__btn РАССЧИТАТЬ