section.metal-assortment
  h2 Ассортимент продукции

  p Одним из направлений деятельности компании является собственное производство металлопродукции.
  
  p При производстве, в зависимости от требований заказчика, используются: стали углеродистые обыкновенного качества, низколегированные (стали для эксплуатации в условиях низких температур) или нержавеющие стали.
  
  p Наличие современной торгово-производственной базы, укомплектованной  новейшим оборудованием, позволяет нам предлагать широкую ассортиментную линейку продукции собственного производства.

  //- Assortment items
  .metal-assortment__assortment-list
    .metal-assortment__item
      .metal-assortment__img-wr
        img(src="./static/images/metal-pages/assortment/item-1.jpg", alt="Assortment")
      span каркасы арматурные;
    .metal-assortment__item
      .metal-assortment__img-wr
        img(src="./static/images/metal-pages/assortment/item-2.jpg", alt="Assortment")
      span фермы (холодный склад), павильоны, ангары;
    .metal-assortment__item
      .metal-assortment__img-wr
        img(src="./static/images/metal-pages/assortment/item-3.jpg", alt="Assortment")
      span резервуары, емкости, баки;
    .metal-assortment__item
      .metal-assortment__img-wr
        img(src="./static/images/metal-pages/assortment/item-4.jpg", alt="Assortment")
      span опоры для трубопроводов;
    .metal-assortment__item
      .metal-assortment__img-wr
        img(src="./static/images/metal-pages/assortment/item-5.jpg", alt="Assortment")
      span столбы для ограждений и освещения;
    .metal-assortment__item
      .metal-assortment__img-wr
        img(src="./static/images/metal-pages/assortment/item-6.jpg", alt="Assortment")
      span несущие конструкции зданий сооружений;
    .metal-assortment__item
      .metal-assortment__img-wr
        img(src="./static/images/metal-pages/assortment/item-7.jpg", alt="Assortment")
      span заборы, ворота, элементы безопасности  и другие виды.