section.section-reviews
  .container
    h2 #{reviewsTitle}
    .section-desc.section-reviews__desc
      p #{reviewsDesc}

    //- content
    .reviews-slider-in-section.section-reviews__slider
      .swiper-wrapper#reviewsLightbox
        if pageClass == 'services-page-first'
          a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-big-1.jpg")
            img(src="./static/images/services-building-page/reviews/review-1.png", alt="Alt")
            .darken-layer
            span
          a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-big-2.jpg")
            img(src="./static/images/services-building-page/reviews/review-2.png", alt="Sertificate")
            .darken-layer
            span
          a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-big-3.jpg")
            img(src="./static/images/services-building-page/reviews/review-3.png", alt="Sertificate")
            .darken-layer
            span
          a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-big-4.jpg")
            img(src="./static/images/services-building-page/reviews/review-4.png", alt="Sertificate")
            .darken-layer
            span
        else
          a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-big-1.jpg")
            img(src="./static/images/services-building-page/reviews/review-1.png", alt="Alt")
            .darken-layer
            span
          a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-big-2.jpg")
            img(src="./static/images/services-building-page/reviews/review-2.png", alt="Sertificate")
            .darken-layer
            span
          a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-big-3.jpg")
            img(src="./static/images/services-building-page/reviews/review-3.png", alt="Sertificate")
            .darken-layer
            span