section.section-reviews
  .container
    h2 Отзывы и благодарности
    .section-desc.section-reviews__desc
      p К каждому заказчику мы находим индивидуальный подход и формируем прозрачную договоренность. Мы за честное и продуктивное сотрудничество.

    //- content
    .reviews-slider-in-section.section-reviews__slider
      .swiper-wrapper#reviewsLightbox
        a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-1.png")
          img(src="./static/images/services-building-page/reviews/review-1.png", alt="Sertificate")
          .darken-layer
          span
        a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-2.png")
          img(src="./static/images/services-building-page/reviews/review-2.png", alt="Sertificate")
          .darken-layer
          span
        a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-3.png")
          img(src="./static/images/services-building-page/reviews/review-3.png", alt="Sertificate")
          .darken-layer
          span
        a.swiper-slide.review-slide(href="./static/images/services-building-page/reviews/review-4.png")
          img(src="./static/images/services-building-page/reviews/review-4.png", alt="Sertificate")
          .darken-layer
          span