section.section-numbers
  .container.section-numbers__container
    h2 О нас в цифрах
    .section-desc.section-numbers__desc
      p Строительная компания “Продом” - это надежная организация, способная наладить <br>строительство объектов любого назначения и сложности.

    //- Numbers items
    .row.section-numbers__row
      .section-numbers__items
        .section-numbers__item
          .section-numbers__check-and-count
            .section-numbers__check
            .section-numbers__count
              span 25000
          .section-numbers__item-desc
            span м2 занимаемой <br>площади
        .section-numbers__item
          .section-numbers__check-and-count
            .section-numbers__check
            .section-numbers__count
              span 600
          .section-numbers__item-desc
            span тонн в месяц <br>металлоконструкций
        .section-numbers__item
          .section-numbers__check-and-count
            .section-numbers__check
            .section-numbers__count
              span 1000
          .section-numbers__item-desc
            span рабочих <br>и специалистов
        .section-numbers__item
          .section-numbers__check-and-count
            .section-numbers__check
            .section-numbers__count
              span 180
          .section-numbers__item-desc
            span выполненных <br>объектов