section.section-callback
  .container.section-callback__container
    .section-callback__side
      h2 Сертификаты

      .sertificates-slider
        .swiper-wrapper#sertificatesLightbox
          a.swiper-slide.sertificate-slide(href="./static/images/home-page/sertificates/sertificate-1.jpeg")
            img(src="./static/images/home-page/sertificates/sertificate-1.jpeg", alt="Sertificate")
            .darken-layer
            span
          a.swiper-slide.sertificate-slide(href="./static/images/home-page/sertificates/sertificate-2.jpeg")
            img(src="./static/images/home-page/sertificates/sertificate-2.jpeg", alt="Sertificate")
            .darken-layer
            span
          a.swiper-slide.sertificate-slide(href="./static/images/home-page/sertificates/sertificate-3.jpeg")
            img(src="./static/images/home-page/sertificates/sertificate-3.jpeg", alt="Sertificate")
            .darken-layer
            span
    .section-callback__side
      h2 Отзывы и благодарности

      .reviews-slider
        .swiper-wrapper#reviewsLightbox
          a.swiper-slide.review-slide(href="./static/images/home-page/reviews/review-1.jpeg")
            img(src="./static/images/home-page/reviews/review-1.jpeg", alt="Sertificate")
            .darken-layer
            span
          a.swiper-slide.review-slide(href="./static/images/home-page/reviews/review-2.jpeg")
            img(src="./static/images/home-page/reviews/review-2.jpeg", alt="Sertificate")
            .darken-layer
            span
          a.swiper-slide.review-slide(href="./static/images/home-page/reviews/review-3.jpeg")
            img(src="./static/images/home-page/reviews/review-3.jpeg", alt="Sertificate")
            .darken-layer
            span