section.cex
  h2 Цех металлоконструкций в Бресте
  p Цех металлоконструкций в Бресте, осуществляющий производство на высоком уровне – это ООО «ПРОДОМ». Наша компания обладает рядом преимуществ, которые ценят клиенты Брестской области и Республики Беларусь.
  p В первую очередь это изготовление металлоконструкции в соответствии со стандартами. Мы понимаем, что металлические конструкции сегодня являются основой любого объекта. Поэтому ответственно подходим к такой работе, как производство металлоконструкции. Вы можете быть уверенны в качестве на все 100%, что подтверждено различными сертификатами и свидетельствами. Наши цены позволяют вам разумно экономить финансы, не теряя в качестве. Главная причина сниженных цен – работа без посредников. Производство металлоконструкции и их продажа – наш основной профиль деятельности. 
  p Вы не платите за работу поставщиков, а заключаете договор напрямую с нашим предприятием.
  p Дополнительные возможности. Если покупка металлоконструкции – не единственная ваша цель, то мы готовы помочь в осуществлении дальнейших работ. Профессиональный монтаж металлоконструкций нашими специалистами избавит вас от необходимости нанимать рабочих. Большой опыт, специализированные знания и навыки позволяют осуществлять монтаж и изготовление металлоконструкций оперативно и надежно.
  p Большое количество выполненных объектов по производству и монтажу металлоконструкции – это возможность быстро ориентироваться в ваших потребностях и предлагать индивидуальные решения. Если вам необходима консультация наших специалистов, мы с удовольствием ответим на все интересующие вопросы. Вы можете прислать свои чертежи на наш электронный адрес или просто позвонить нам:

  .cex__contacts
    span Свяжитесь с нами:
    span metal-workshop@prodomstroy.by
    span +375 (29) 725-27-23

  p Производство, изготовление и монтаж металлоконструкции в Бресте – ваш выбор надежного партнера для общего успеха.